.ripple, .ripple-mousemove {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.mask {
  position:absolute;
  width: 10px;
  height: 10px;
  top:0;
  left:0;
  border-radius: 50%;
  background: rgba(255,255,255,.3);
  transform: scale(0);
  animation: ripple 1s both linear;
  -o-animation: ripple 1s both linear;
  -moz-animation: ripple 1s both linear;
  -webkit-animation: ripple 1s both linear;
}

@keyframes ripple {
  to {transform: scale(50); opacity: 0;}
}

@-o-keyframes ripple{
  to {transform: scale(50); opacity: 0;}
}

@-moz-keyframes ripple{
  to {transform: scale(50); opacity: 0;}
}

@-webkit-keyframes ripple {
  to {transform: scale(50); opacity: 0;}
}